<h2>Add Genre</h2>
<form method="POST" action="/genres">
  <label for="type">Type:</label>
  <input id="type" type="text" name="type"/>
  <br/>
  <br/>
  <input type="submit" value="Add Genre"/>
</form>