<h2>Albums</h2>

<div id="album-wrapper">
  <% @albums.each do |album| %>

  <div class="album">
    <h3><%= album.title %></h3>
    <p>Artist: <%= album.artist.name %></p>
    <p>Quantity in Stock: <%= album.quantity %> </p>
  </div>

<% end %>
</div>
