<!DOCTYPE html>
<html>
<head>
  <title>BIG Al's Record Store</title>
  <link rel="stylesheet"  href="/style.css">
</head>
<body>
  <h2>Navigation Menu</h2>
  <nav id="menu"> 
    <ul>
      <li class="button"><a href='/albums/index'>Albums</a></li>
      <li class="button"><a href='/albums'>Inventory</a></li>
      <li class="button"><a href='/artists'>Artists</a></li>
      <li class="button"><a href='/genres'>Genres</a></li>
      <li class="button"><a href='/artists/new'> Add New Artist</a></li>
      <li class="button"><a href='/albums/new'> Add New Album</a></li>
      <li class="button"><a href='/genres/new'> Add New Genre</a></li>
    </ul>



  </nav>
  <%= yield %>
</body>
</html>
