<h2>Add Album</h2>
<form method="POST" action="/albums">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title"/>
  <br/>
  <br/>
  <label for="artist_select">Select an Artist id:</label>
  <select id="artist_id" name ="artist_select">
  <% @artists.each do |artist| %>
    <option value= "artist.id">   <%= artist.name %> </option>
  <% end %>
  </select>
  <br/>
  <br/>
  
  <br/>
  <br/>
  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="Quantity"/>
  <br/>
  <br/>
  
  <br/>
  <br/>
  <input type="submit" value="Add Album"/>
</form>