<h2>Add Album</h2>
<form method="POST" action="/albums">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title"/>
  <br/>
  <br/>
  <label for="artist-select">Select an Artist id:</label>
  <select id="artist-select" name ="artist_id">
  <% @artists.each do |artist| %>
    <option value= "artist.id">   <%= artist.name %> </option>
  <% end %>
  </select>
  <br/>
  <br/>
  <label for="genre-select">Select a Genre id:</label>
  <select id="genre-select" name ="genre_id">
  <% @genres.each do |genre| %>
    <option value= "genre.id">   <%= genre.type %> </option>
  <% end %>
  </select>
  <br/>
  <br/>
  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="Quantity"/>
  <br/>
  <br/>
  <label for="buy_price">Buy Price:</label>
  <input id="buy_price" type="number" name="buy_price"/>
  <br/>
  <br/>
  <input type="submit" value="Add Album"/>
</form>