<h2>Add Artist</h2>
<form method="POST" action="/artists">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/>
  <br/>
  <br/>
  <br/>
  <br/>
  <input type="submit" value="Add Artist"/>
</form>